
body {
    overflow-y: auto;

}

/* Atv04.css */
.atv04-container {
    width: 100vw;                   /* Largura total da janela de visualização */
    min-height: 100vw;
    height: auto;                  /* Altura total da janela de visualização */
    margin: 0;                      /* Remove qualquer margem */
    padding: 20px;                     
    
    background-image: url('img/notas-musicais.avif'); /* Caminho para a imagem de fundo */
    background-size: cover;         /* A imagem cobre toda a área do contêiner */
    background-position: center;    /* Centraliza a imagem */
    background-repeat: no-repeat;   /* Impede a repetição da imagem */
    
    display: flex;                  /* Flexbox para organizar o conteúdo */
    flex-direction: column;         /* Alinhamento vertical */
    align-items: center;            /* Centraliza o conteúdo horizontalmente */
    justify-content: center;        /* Centraliza o conteúdo verticalmente */
    align-items: center;
    margin-top: 150px;
}

.atv04-container h1{
    color: black;
    background-color: rgb(230, 220, 209);
    width: 50%;

}
.galeria {
    display: flex;                    /* Usando flexbox para dispor os itens */
    flex-direction: column;            /* Alterando para uma coluna, para os itens ficarem um embaixo do outro */
    justify-content: flex-start;      /* Alinha os itens no começo */
    align-items: center;              /* Alinha os itens verticalmente */
    gap: 30px;                        /* Espaçamento entre os itens */
    padding: 10px;                    /* Adiciona espaçamento interno para a galeria */
    
}

.galeria > div {
    width: 150px;                     /* Largura do item */
    height: 100px;                    /* Altura do item */
    background-color: #f1e4e4;        /* Cor de fundo, você pode alterar */
    border-radius: 50%;               /* Faz os itens ficarem com formato oval */
    display: flex;                    /* Usando flexbox dentro dos itens para centralizar o conteúdo */
    justify-content: center;          /* Centraliza conteúdo horizontalmente */
    align-items: center;              /* Centraliza conteúdo verticalmente */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombras para um efeito visual */
    margin-bottom: 20px;              /* Adiciona espaçamento entre os itens na linha */
}



h3 {
    font-size: 1.5em;
    text-align: center;
    color: #caa6a6;
    margin-bottom: 20px;
    background: rgb(47, 118, 146);
    width: 80%;
}



